<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои заказы</title>
    <link rel="stylesheet" href="/static/css/user/order.css">
    <script src="https://kit.fontawesome.com/7fb7fffe92.js" crossorigin="anonymous"></script>
</head>
<body>
    {{template "user_navbar" .}}
    <div class="content">
        <h1 id="order-header">Заказ №{{.order.ID}}</h1>
        <div class="container">
            <div id="order-details-container">
                <div id="order-status-container">
                    <h1>Статус заказа:</h1>
                    <div class="order-status {{.order.GetStatusCSSClass}}">{{.order.Status}}</div>
                </div>
                <div id="payment-info">
                    <h1>Информация об оплате</h1>
                    <span id="total-sum-container">Общая сумма: <span id="total-sum">{{.order.TotalPrice}} ₸</span></span>
                    <span id="payment-status-container">Статус оплаты: <span id="payment-status">Оплачен</span></span>
                </div>
                <div id="products">
                    {{range .order.OrderDetails}}
                    <div class="product">
                        <img src="{{.Product.Image}}" alt="" class="product-img">
                        <div class="product-description">
                            <span class="product-name">{{.Product.Name}}</span>
                            <span class="product-price">{{.Product.Price}} ₸ <span class="product-quantity">х {{.Quantity}}шт.</span></span>
                        </div>                        
                    </div>
                    {{end}}
                </div>
            </div>

            <div id="history-details">
                <h1 id="history-header">История заказа:</h1>
                <div id="histories">
                    {{range .order.OrderHistories}}
                    <div class="history">
                        <span class="history-date">{{.GetDate}}</span>
                        <span class="history-status">{{.Status}}</span>
                        {{if not .HasEmptyComment}}
                        <div class="history-comment">Комментарий: {{.Comment}}</div>
                        {{end}}
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>

    {{template "footer" .}}
    <script src="/static/js/user/base.js"></script>
</body>
</html>